.griditem {
    border: 3px ;
    margin-top: auto; 
    margin-bottom: auto

}

.navbar2 {
    width: 50%;
    border: solid blue 2px;
    margin: 5px;
    text-decoration: none;
    color: aliceblue;
    padding: 10px;

}

.gridcontainer1{
    display: grid; 
    margin: auto; 
    width: 95%; 
    height:95%; 
    grid-template-columns: auto auto; 
    color: blue;
}